<div class="expenseLineContent">
  <div class="amount">
    <p class="prettyText">{{ localizedAmount() }}</p>
  </div>
  <div class="description">
    <p class="prettyText">{{ description() }}</p>
  </div>
  <div class="buttonsSpace">
    <app-button-component
      name="Edit"
      size="medium"
      (clicked)="editClicked.emit()"
    ></app-button-component>
    <app-button-component
      name="Delete"
      size="medium"
      (clicked)="deleteClicked.emit()"
    ></app-button-component>
  </div>
  <div class="date">
    <p class="prettyText">{{ localizedDate() }}</p>
  </div>
</div>
