button {
  background-color: #e6e9ef;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big {
  height: 40px;
  min-width: fit-content;
  width: 100px;
}

.small {
  height: 20px;
   width: 100px;
}


